@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">OCR Management</h1>
</div>
<div class="row">
    <div class="col-3">
        <div class="card text-center text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">تعداد پروژه ها</h5>
                <p class="card-text" id="projectCount"></p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center text-white bg-info">
            <div class="card-body">
                <h5 class="card-title">تعداد فایل  ها</h5>
                <p class="card-text" id="filesCount"></p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">تعداد OCR  شده</h5>
                <p class="card-text" id="ocredCount"></p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center text-white bg-warning">
            <div class="card-body">
                <h5 class="card-title">تعداد باقی مانده</h5>
                <p class="card-text" id="remainCount"></p>
            </div>
        </div>
    </div>
</div>
